body {
  font-family: Lato, sans-serif !important;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1400px;
  margin: 20px auto;
  padding: 10px;
}

option {
  font-weight: normal;
  display: block;
  padding-block-start: 0px;
  padding-block-end: 1px;
  min-block-size: 1.2em;
  padding-inline: 2px;
  white-space: nowrap;
}

.filter-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba;
}

.filter-group {
  display: flex;
  flex-direction: column;

  gap: 5px;
}

.filter-group label {
  font-size: 0.9em;
  color: #555;
}

.filter-group label.null {
  font-size: 0.9em;
  color: #ffffff;
}
.filter-group input,
.filter-group select {
  margin: 0;
  padding: 8px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

.primary-btn {
  height: 37px;
  margin: 0;
  font-size: 1em;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.primary-btn:hover {
  background-color: #0056b3;
}

@media (max-width: 768px) {
  .filter-group input,
  .filter-group select {
    width: 100%;
  }
}

.table {
  width: 1900px !important;
  border-collapse: collapse;
  border-left: -1px solid #ffffff;
  border-right: none;
  font-size: 1rem;
  color: #42526e;
  position: relative;
  overflow: visible;
  z-index: 1;
}
.content {
  text-align: center;
}

.table th,
.table td {
  background-color: #ffffff;
  padding-left: 9px;
  text-align: left;
  border-bottom: 1px solid #e5e5e5;
}
.table th:nth-child(1),
.table td:nth-child(1) {
  width: 150px;
  height: 40px;
}

.table tbody tr:nth-child(even) {
  background-color: #ddd;
}

.sconler {
  overflow-x: auto;

  scrollbar-color: white white;
}
.sconler .table {
  width: 100%;
}

th:first-child,
td:first-child {
  position: sticky;
  left: 0;

  z-index: 1;
  border-bottom: 1px solid #ddd;
  border-left: -1px solid #ddd;
}

.employee-column {
  font-size: 1rem;
  color: #333;
  width: 150px;
  background-color: #f4f4f4;
  font-weight: bold;
  padding: 10px;
  text-align: left;
  left: 0;
  z-index: 1;
}

.employee-column,
.employee-column + td {
  position: sticky;
  left: 0;
  background-color: #ffffff;
  z-index: 1;
  border-left: -1px solid #ddd;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.table tbody tr:nth-child(even) {
  background-color: #ddd;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pagination-controls {
  display: flex;
  gap: 5px;
  align-items: center;
}

.pagination-btn {
  margin: 20px;
  padding: 5px 10px;
  border: navajowhite;
  cursor: pointer;
  padding: 10px;
  background-color: transparent !important;
}
.info_new {
  font-weight: 700;
  border-radius: 3px;
  text-align: center;
  width: 22px;
  margin-top: 5px;
  padding: 2px;
}

.roler {
  font-size: 15px;
  /* font-weight: 700; */
  height: 32px;
  padding-left: 11px;
  /* margin-left: 2px; */
  /* align-items: center; */
  width: 100%;
  border-radius: 4px;
  align-items: center;
  color: #172b4d;
  background-color: #fff;
  border: 0.8px solid #cddbe3;
  min-height: 32px !important;
  box-shadow: unset !important;
}

.header-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  text-transform: uppercase;
  line-height: 1.5;
  border-bottom: 1px solid #dde8f1;
  font-size: 0.9rem;
  font-weight: 600;
  text-align: center;
  position: relative;
}

.dropdown-btn {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  background-color: #fff;
  color: #333;
  font-size: 14px;
  text-align: left;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.dropdown-btn:hover {
  background-color: #f9f9f9;
  border-color: #aaa;
}

.dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  display: none;
  position: absolute;
}

.dropdown-content a {
  display: block;
  width: 97%;

  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.5;
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #172b4d;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: none;
}

.dropdown-content a:hover {
  background-color: #f1fafe;
  color: #333;
}

.period-btn {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  border: 1px solid #ccc;
}
.period-content {
  display: none;
  position: absolute;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 10;
  width: 200px;
  padding: 0.5rem 0;
  margin: 0.5rem 0 0;
}

.period-content.show {
  display: block;
}

.period-content a {
  display: block;
  width: 90%;
  color: #172b4d;
  padding: 7px 9px;
  text-decoration: none;
  font-weight: 400;
  line-height: 1.5;
  cursor: pointer;
}

.period-content a:hover {
  background-color: #f1fafe;
  color: #333;
}

.null {
  font-size: 14px;
  font-weight: 400;
  color: #333;
  margin-right: 10px;
}

.export-dropdown {
  position: relative;
  display: inline-block;
  background-color: #0053b3;
  color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.dropdown-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  cursor: pointer;
}

.dropdown-contentt {
  display: none;
  position: absolute;
  top: 102%;
  left: 0;
  width: 100%;
  background-color: #fff;
  color: #000;
  border: 1px solid #0053b3;
  z-index: 9999;

  border-radius: 4px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-item {
  text-align: center;
  padding: 8px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #f1fafe;
  color: #333;
  border-radius: 4px;
}

.export-dropdown:hover .dropdown-contentt {
  display: block;
}
